@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    background-color: paleturquoise;
}

body {
    margin: 1;
    font-family: 'Raleway'
}

.container {
    width: 100%;
    display: table;
}

.name h1 {
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar li {
    list-style-type: none;
    text-align: center;
    margin-left: -2.5rem;
}

.navbar a:hover {
    color: darkred;
}

.navbar {
    float: center;
}

.bottom-navbar {
    float: center;
    text-align: center;
}

.bottom-navbar a:hover {
    color: darkred;
}
